
.bx_catalog_tile{margin-bottom: 30px}
.bx_catalog_tile .bx_catalog_tile_category_title{
  font-size: 24px;
  padding-bottom: 14px;
  border-bottom: 1px solid $blue;
}
.bx_catalog_tile .bx_catalog_tile_category_title a{
  text-decoration: none;
}

.bx_catalog_tile .bx_catalog_tile_ul{padding: 0}
.bx_catalog_tile .bx_catalog_tile_ul li{
  list-style: none;
  margin-bottom: 20px;
  height:180px;
  float: left;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.bx_catalog_tile .bx_catalog_tile_ul li{width:20%}

.bx_catalog_tile .bx_catalog_tile_img{
  display: block;
  background: #fff;
  position: relative;
  border:1px solid $gray-border;
  width: 100px;
  height: 100px;
  border-radius: 2px;
  overflow: hidden;
  margin: 0 auto;
}
.bx_catalog_tile .bx_catalog_tile_img span{
  display: block;
  width: 500px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -250px;
  text-align: center;
}
.bx_catalog_tile .bx_catalog_tile_img span img{
  height: 100%;
  width: auto;
}
.bx_catalog_tile .bx_catalog_tile_title{
  padding: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  vertical-align: top;
  line-height: 14px;
}
.bx_catalog_tile .bx_catalog_tile_title a{
  font-size: 14px;
}
.bx_catalog_tile .bx_catalog_tile_title a:hover{text-decoration: none}




/*3*/
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .bx_catalog_tile .bx_catalog_tile_ul li{width:33.3%}
  .bx_catalog_tile .bx_catalog_tile_img{
    width: 100%;
    height: 80px;
  }
}
/*4*/
@media (max-width: $screen-xs-max) {
  .bx_catalog_tile .bx_catalog_tile_ul li{width:33.3%}
  .bx_catalog_tile .bx_catalog_tile_img{
    width: 100%;
    height: 80px;
  }

}


.bx_catalog_tile .bx_catalog_tile_title,
.bx_catalog_tile .bx_catalog_tile_title a,
.bx_catalog_tile .bx_catalog_tile_ul li,
.bx_catalog_tile .bx_catalog_tile_img{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}