.catalog {
  &-header {
    position:relative;
    padding-right:10.7rem;
    margin-top: -0.9rem;
    &__btn {
      float: right;
      margin: 15px;
      &#buyAllTop {
        margin-right: 0;
      }
    }

  }
  &-item {
    background:white;
    border: 1px solid $gray-border;
    margin-bottom:1rem;
    &__images {
      width:100%;
      margin-top: 0px;
      display: block;
      padding-top: 116%;
      position: relative;
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease;
      -ms-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
    }
    &__images-box{
      position: relative;
      margin-left:40px;

    }
    &__header{
      margin:0.5rem 0;
    }
    &__kod {
      font-size: 0.67rem;
      color:$gray-dark;
      top: -0.1rem;
      position: relative;
    }
    &__short-info,&__presence{
      position:relative;
      color:$gray-dark;
      margin-top:0rem;
      line-height:1.5;
      font-size: 0.67rem;
      &_value{
        display: block;
        color: $gray-darker;
      }
      &_min,&_in-box{
        line-height:1.07;
      }
    }
    &__price {
      font-family: 'Ubuntu Condensed', sans-serif;
      margin-top:0.5rem;
    }

    &__price_text{
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
    }
    &__price-mobile{display:none}
    &__price_old{
      display:inline-block;
      color:$gray;
      text-decoration: line-through;
      vertical-align: top;
      font-size:1.33rem;
      margin-right: 0.3rem;
    }
    &__price_new{
      display:inline-block;
      color:$strongColor;
      font-size:2rem;
    }
    &__count{
      padding:15px 15px 0 0;
      .input-group{
        border-left: 1px solid #d5d5d5;
        border-right: 1px solid #d5d5d5;
      }
      &_btn{
        min-width:34px !important;
        font-weight: 700;
        text-align: center;
        height: 34px;
        display: inline-block;
        vertical-align: middle;
        background-color: #ffffff;
        color: $blue;
        text-align: center;
        border-radius: 0;
        cursor: pointer;
        position: relative;
        transition: background 300ms ease,opacity 300ms ease;
        border-top: 1px solid #d5d5d5;
        border-bottom: 1px solid #d5d5d5;
      }
    }
    &__btn {
      margin-top:0.5rem;
      margin-right:15px;
      .btn{width:100%};
    }
  }

  &__icon{
    z-index: 150;
    position: absolute;
    top: -1px;
    left: -1px;
    display: inline-block;
    border: 1.7rem solid transparent;
  }
  &__icon-red{
    border-top-color: $red;
    border-left-color: $red;
  }
  &__icon-blue{
    border-top-color: $blue;
    border-left-color: $blue;
  }
  &__icon-hot{
    position:absolute;
    top: -1.4rem;
    left: -1.4rem;
    color:white;
    width: 1.5rem;
    height: 1.5rem;
  }
  &__new {
    position:absolute;
    top: -1.6rem;
    left: -1.4rem;
    color:white;
    width: 1.5rem;
    height: 1.5rem;
    text-transform: uppercase;
    font-family: 'Ubuntu Condensed', sans-serif;
  }
  &-footer{
    &__wrapper {
      display: flex;
      justify-content:space-between;
    }
    &__btn {

    }
    &__back {
      line-height:2.2;
    }
    &__pagination {
      text-align: center;
    }
  }
}

.ac-custom .catalog-item__checkbox {
  position: relative;
  margin:0.5rem 0 0.5rem 0.5rem;
  float:left;
  input[type=checkbox], input[type=radio], label::before{
    margin-top: 0px;
  }
}

@media (max-width: $screen-xs-max) {
  .catalog {
    &-header {
      position:relative;
      padding-right:0;
      margin-top: -0.9rem;
      &__btn {

      }
    }

    &-item {
      background:white;
      border: 1px solid $gray-border;
      margin-bottom:1rem;
      &__images {
        width:100%;
        margin-top: 0px;
      }
      &__images-box{
        position: relative;
        margin-left:0px;
        margin:0 15px;
      }
      &__description{
        margin:15px;
      }
      &__kod {
        top:0;
      }
      &__presence{
        float:left;
        font-size: 1rem;
        margin-top:1rem;
      }
      &__kod{
        font-size: 1rem;
      }
      &__short-info{
        margin-top:1rem;
        font-size: 1rem;
        &_min{text-align: left;display: inline-block}
        &_in-box{text-align: left;}
      }
      &__price {display:none;}
      &__price-mobile {
        font-family: 'Ubuntu Condensed', sans-serif;
       display: block;
        margin-left: 50%;
        margin-top: 1rem;
        text-align: right;
      }
      &__mobile-row {
        overflow: hidden;
      }
      &__price_old{
        display:inline-block;
        color:$gray;
        text-decoration: line-through;
        vertical-align: top;
        font-size:1.33rem;
        margin-right: 0.3rem;
      }
      &__price_new{
        display:inline-block;
        color:$strongColor;
        font-size:2rem;
      }
      &__count{
        margin:0px 15px 0 15px;
        padding:0;
        &_btn{
          height: 44px;
          line-height: 44px;
        }
      }
      &__select{
        background: $blue-light;
        margin: 1rem 15px 0 15px;
      }
      &__btn {
        margin:0.5rem 0 0 0;
        padding:0 15px 15px 15px;
        .btn{width:100%};
      }
    }

    &__icon{
      position: absolute;
      top: -1px;
      left: -1px;
      display: inline-block;
      border: 1.7rem solid transparent;
    }
    &__icon-red{
      border-top-color: $red;
      border-left-color: $red;
    }
    &__icon-blue{
      border-top-color: $blue;
      border-left-color: $blue;
    }
    &__icon-hot{
      position:absolute;
      top: -1.4rem;
      left: -1.4rem;
      color:white;
      width: 1.5rem;
      height: 1.5rem;
    }
    &__new {
      position:absolute;
      top: -1.6rem;
      left: -1.4rem;
      color:white;
      width: 1.5rem;
      height: 1.5rem;
      text-transform: uppercase;
      font-family: 'Ubuntu Condensed', sans-serif;
    }


  }
  .ac-custom .catalog-item__checkbox {
    position: relative;
    margin:15px;
    float:none;
    input[type=checkbox], input[type=radio], label::before{
    }
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .catalog {
    &-item {
      &__images-box{
        margin-top:0.5rem;
      }
      &__count{
        margin:0px 15px 0 15px;
        padding:0;
        &_btn{
          height: 44px;
          line-height: 44px;
        }
      }
    }

  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  html, body  {font-size: $font-size-base*0.95;}
  .catalog {
    &-item {
      &__images-box {
        margin-top: 0.5rem;
      }
    }}
    }
@media (min-width: $screen-lg-min) { }