.form-control {font-size: $font-size-base * 0.8};
.form-horizontal .control-label {
  text-align:left;
  font-weight:normal;
}

.link {
  background:none;
  border: 0px;
  padding:0;
  margin:0;
  line-height: 3rem;
}

@media (max-width: $screen-xs-max) {
  .form-control,.btn-dropdown, .btn-input {
    font-size: $font-size-base * 1.1;
    line-height: 1;
    height: 44px;
    padding: 11px 12px;
  }

}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {  }
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}
@media (min-width: $screen-lg-min) { }