.icon-catalog {
  transform: scale(1.1);
  color:$blue;
  display: inline-block;
  width: 8rem;
  height: 5.4rem;
  fill: currentColor;
  &:hover{
    color:$red;
    cursor:pointer;
  }
}

.icon-catalog-header {
  vertical-align: bottom;
  transform: scale(1.1);
  color:$blue;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  fill: currentColor;
}

.icons {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right:0.25rem;
  vertical-align: middle;
  fill: currentColor;
}



.icon-cart {
  width: 2rem;
  height: 2rem;
  color:$blue;
}

.icon-go-top {
  @include sprite($go-top);
  display:inline-block;
  position:fixed;
  right:0px;
  bottom:0px;
  z-index: 10;
}

.icon-rasprodazha {
  color:$red;
}