body.ng {
  .elka {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    max-width: 277px;
    padding-bottom: 30%;
    background-image: url("../images/elka.png");
    background-repeat: no-repeat;
  }
    background: url("../images/body-ng.png") #e5e5e5;
}
