.partners{
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  -webkit-justify-content: space-between; /* Safari */
  justify-content: space-between;
  align-content:center;
  -webkit-align-items: baseline; /* Safari */
  align-items: stretch;
  border-left: 1px solid $blue;
  padding-left:0.5rem;
  &__item{
    display: inline-block;
    width:45%;
    height: 4rem;
    vertical-align: middle;
    svg {
      width:100%;
      height:100%;
    }

    svg {
      -webkit-filter: grayscale(100%) opacity(5.7);
      -moz-filter: grayscale(100%) opacity(5.7);
      -ms-filter: grayscale(100%) opacity(5.7);
      -o-filter: grayscale(100%) opacity(5.7);
      filter: grayscale(100%) opacity(5.7);
      filter: gray; /* IE 6-9 */
      /*Добавим вот такой вот код*/
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      /*конец кода с transition*/
    }
    svg:hover {
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      -o-filter: none;
      filter: none;
    }

    &.alternativa, &.autoprofi{
      width: 99%;
      height: 3rem;
    }
    &.ermak, &.goodyear{
      width: 90%;
      margin: 0.5rem 0;
    }
    &.autovirazh {width:50%;}

    &.astrohim{
      width: 55%;
      margin: 0 0 0.5rem 0;
    }
    &.souz {
      height:6rem;
    }
    &.rvk {
      width: 100%;
      height: 5.6rem;
      margin: 0.5rem 0 0 0;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .partners{
    &__item{
      width:30%;
       &.autoprofi{
        width: 30%;
        height: 3rem;
      }
      &.alternativa {
        width: 60%;
        height:4rem;
      }
      &.rvk {
        margin:0;
        width: 36%;
      }

      &.ermak, &.goodyear{
        width: 30%;
      }
      &.autovirazh {width:30%;}
      &.astrohim{
        width:30%;
        margin-top:0rem;
      }
      &.souz {
        height:6rem;
        margin-top:-1.5rem;
      }
    }
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
}
@media (min-width: $screen-lg-min) { }