.popular {
  &__item {
    text-align: center;
    position:relative;
    background: white;
    border:1px solid $gray-border;
    padding-bottom:1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    display:block;
    cursor: pointer;
    margin: 0 15px;

    //font-size: 80%;
    //
    //.btn {
    //  font-size: 80%;
    //}
  }
  &__image{
    width:100%;
  }
  &__header {
    font-family: 'Ubuntu Condensed', sans-serif;
    color:$gray-darker;
    margin:0.5rem 0 1rem 0;
    line-height: 1;
    height: 3rem;
    text-decoration: none;
    display:inline-block;
  }
  &__icon{
    z-index: 150;
    position: absolute;
    top: -1px;
    left: -1px;
    display: inline-block;
    border: 1.7rem solid transparent;
  }
  &__icon-red{
          border-top-color: $red;
          border-left-color: $red;
        }
  &__icon-blue{
    border-top-color: $blue;
    border-left-color: $blue;
  }

  &__icon-hot{
    position:absolute;
    top: -1.4rem;
    left: -1.4rem;
    color:white;
    width: 1.5rem;
    height: 1.5rem;
  }

  &__new {
    position:absolute;
    top: -1.6rem;
    left: -1.4rem;
    color:white;
    width: 1.5rem;
    height: 1.5rem;
    text-transform: uppercase;
    font-family: 'Ubuntu Condensed', sans-serif;
  }
}