/*Image*/
.product-item-image-wrapper{
  display: block;
  padding-top: 116%;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.product-item-image-wrapper:hover{}
.product-item-container.hover.product-item-scalable-card .product-item-image-wrapper{padding-top:54%;}

.product-item-image-original,
.product-item-image-alternative{
  display: block;
  position: absolute;
  top:   0;
  left:  0;
  right: 0;
  bottom:0;
  width: 100%;
  height:100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: opacity 300ms linear;
  -moz-transition: opacity 300ms linear;
  -ms-transition: opacity 300ms linear;
  -o-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}
.product-item-image-original{z-index: 110;}
.product-item-image-alternative{
  z-index: 120;
  opacity: 11;
}
.bx-no-touch .product-item-container.hover .product-item-image-original{opacity: 0;}
.bx-no-touch .product-item-container.hover .product-item-image-alternative{opacity: 1;}
.product-item-big-card .product-item-image-wrapper{margin-bottom: 25px;}

/*Image Slider*/
.product-item-image-slider-slide-container{
  display: block;
  position: absolute;
  top:   0;
  left:  0;
  right: 0;
  bottom:0;
  width: 100%;
  height:100%;
  overflow: hidden;
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  -ms-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.product-item-image-slide{
  display: none;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  position: relative;
  -webkit-transition: .6s ease-in-out left;
  -moz-transition: .6s ease-in-out left;
  -ms-transition: .6s ease-in-out left;
  -o-transition: .6s ease-in-out left;
  transition: .6s ease-in-out left;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .product-item-image-slide {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -moz-transition:    -moz-transform .6s ease-in-out;
    -ms-transition: 	-ms-transform .6s ease-in-out;
    -o-transition: 	 -o-transform .6s ease-in-out;
    transition:         transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .product-item-image-slide.next,
  .product-item-image-slide.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  .product-item-image-slide.prev,
  .product-item-image-slide.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  .product-item-image-slide.next.left,
  .product-item-image-slide.prev.right,
  .product-item-image-slide.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.product-item-image-slider-slide-container > .active,
.product-item-image-slider-slide-container > .next,
.product-item-image-slider-slide-container > .prev {display: block;}
.product-item-image-slider-slide-container > .active {left: 0;}
.product-item-image-slider-slide-container > .next,
.product-item-image-slider-slide-container > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.product-item-image-slider-slide-container > .next {left:  100%;}
.product-item-image-slider-slide-container > .prev {left: -100%;}
.product-item-image-slider-slide-container > .next.left,
.product-item-image-slider-slide-container > .prev.right {left: 0;}

.product-item-image-slider-progress-bar-container{
  position: absolute;
  bottom:0;
  left:  0;
  right: 0;
  width:100%;
  height: 1px;
}
.product-item-image-slider-progress-bar{
  position: absolute;
  left:  0;
  bottom:0;
  top:   0;
  height:1px;
  opacity:.8;
  background-color: #F42C2C;
}

.product-item-image-slider-control-container{
  padding: 0;
  text-align: center;
  position: absolute;
  z-index:190;
  left:  0;
  right: 0;
  bottom:10px;
  opacity: 0;
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  -ms-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.product-item-container.hover .product-item-image-slider-control-container,
.product-item-line-card:hover .product-item-image-slider-control-container{ opacity: 1;}
.product-item-image-slider-control,
.product-item-image-slider-control.active{
  display: inline-block;
  width: 12px;
  height:12px;
  border-radius:50%;
  background-color: rgba(128, 128, 128, 0.8);
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: .6;
}

.product-item-image-slider-control:hover,
.product-item-image-slider-control.active:hover{cursor: pointer;}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .product-item-image-alternative{display:none;}
}
@media (min-width: $screen-lg-min) {  .product-item-image-alternative{display:none;} }