<div class="additional-info col-md-12 col-sm-12">
    <div class="additional-info__useful">
        <h3 class="red">Полезная информация</h3>
        <ul>
            <li><a class="additional-info_link" href="">
                <svg class="icons icon-terms additional-info_icon">
                    <use xlink:href="/images/sprite.svg#terms"></use>
                </svg>
                Удобные условия закупки</a></li>
            <li><a class="additional-info_link" href="">
                <svg class="icons icon-phone additional-info_icon">
                    <use xlink:href="/images/sprite.svg#phone"></use>
                </svg>
                Система резервирования заказов</a></li>
            <li><a class="additional-info_link" href="">
                <svg class="icons icon-delivery additional-info_icon">
                    <use xlink:href="/images/sprite.svg#delivery"></use>
                </svg>
                БЕСПЛАТНАЯ ДОСТАВКА в города СФО</a></li>
        </ul>
    </div>
    <div class="additional-info__map">
        <img class="additional-info__img" src="images/map.svg" alt="">
        <a class="additional-info__link" href="">Схема проезда</a>
    </div>
</div>