<h2 class="blue">Каталог</h2>
<nav id="catalog-top" class="catalog-top">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="catalog-top__item">
                    <svg class="icon-catalog icon-car">
                        <use xlink:href="/images/sprite.svg#car"></use>
                    </svg>
                <h4 class="catalog-top__header">Автоаксессуары</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="catalog-top__item">
                <svg class="icon-catalog icon-galantereya">
                    <use xlink:href="/images/sprite.svg#galantereya"></use>
                </svg>
                <h4 class="catalog-top__header">Галантерея</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="catalog-top__item" id="instrument">
                <svg class="icon-catalog icon-instrument">
                    <use xlink:href="/images/sprite.svg#instrument"></use>
                </svg>
                <h4 class="catalog-top__header">Инструмент</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="catalog-top__item">
                <svg class="icon-catalog icon-toys">
                    <use xlink:href="/images/sprite.svg#toys"></use>
                </svg>
                <h4 class="catalog-top__header">Подарки, Игрушки</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="catalog-top__item">
                <svg class="icon-catalog icon-kids">
                    <use xlink:href="/images/sprite.svg#tovary_dlya_detey"></use>
                </svg>
                <h4 class="catalog-top__header">Товары для детей</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="catalog-top__item">
                <svg class="icon-catalog icon-sport">
                    <use xlink:href="/images/sprite.svg#sport"></use>
                </svg>
                <h4 class="catalog-top__header">Спорт и отдых</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="catalog-top__item">
                <svg class="icon-catalog icon-household">
                    <use xlink:href="/images/sprite.svg#household"></use>
                </svg>
                <h4 class="catalog-top__header">Хозтовары</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="catalog-top__item">
                <svg class="icon-catalog icon-fittings">
                    <use xlink:href="/images/sprite.svg#fittings"></use>
                </svg>
                <h4 class="catalog-top__header">Фурнитура</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="catalog-top__item">
                <svg class="icon-catalog icon-rasprodazha">
                    <use xlink:href="/images/sprite.svg#rasprodazha"></use>
                </svg>
                <h4 class="catalog-top__header"> Распродажа</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="catalog-top__item">
                <svg class="icon-catalog icon-plumbing">
                    <use xlink:href="/images/sprite.svg#plumbing"></use>
                </svg>
                <h4 class="catalog-top__header">Сантехника</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
        <div class="catalog-top__item">
            <svg class="icon-catalog icon-floor">
                <use xlink:href="/images/sprite.svg#floor"></use>
            </svg>
            <h4 class="catalog-top__header">Напольные покрытия</h4>
        </div>
    </div>
        <div class="col-md-4 col-sm-6">
            <div class="catalog-top__item">
                <svg class="icon-catalog icon-kitchen">
                    <use xlink:href="/images/sprite.svg#kitchen"></use>
                </svg>
                <h4 class="catalog-top__header">Посуда и кухонные принадлежности</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="catalog-top__item">
                <svg class="icon-catalog icon-dacha">
                    <use xlink:href="/images/sprite.svg#dacha"></use>
                </svg>
                <h4 class="catalog-top__header">Дача</h4>
            </div>
        </div>

        <!--sub-menu-->
        <div class="catalog-top__sub-menu instrument" data-sub="menu">
            <nav class="catalog-top__sub">
                <ul class="catalog-top__sub-lists list_coll">
                    <li class="catalog-top__sub-menu_list"><a class="catalog-top__sub-menu_link" href="">Буры и ударный инструмент</a></li>
                    <li class="catalog-top__sub-menu_list"><a class="catalog-top__sub-menu_link" href="">Диски отрезные и прочий режущий инструмент</a></li>
                    <li class="catalog-top__sub-menu_list"><a class="catalog-top__sub-menu_link" href="">Замки</a></li>
                    <li class="catalog-top__sub-menu_list"><a class="catalog-top__sub-menu_link" href="">Измерительный инструмент</a></li>
                    <li class="catalog-top__sub-menu_list"><a class="catalog-top__sub-menu_link" href="">Ключи</a></li>
                    <li class="catalog-top__sub-menu_list"><a class="catalog-top__sub-menu_link" href="">Лопаты, щетки</a></li>
                    <li class="catalog-top__sub-menu_list"><a class="catalog-top__sub-menu_link" href="">Малярно-штукатурный инструмент</a></li>
                    <li class="catalog-top__sub-menu_list"><a class="catalog-top__sub-menu_link" href="">Отвертки</a></li>
                    <li class="catalog-top__sub-menu_list"><a class="catalog-top__sub-menu_link" href="">Плиткорезы, заклепочники и расходные к ним</a></li>
                    <li class="catalog-top__sub-menu_list"><a class="catalog-top__sub-menu_link" href="">Прочее</a></li>
                    <li class="catalog-top__sub-menu_list"><a class="catalog-top__sub-menu_link" href="">Прочий измерительный инструмент</a></li>
                    <li class="catalog-top__sub-menu_list"><a class="catalog-top__sub-menu_link" href="">Свёрла и наборы сверл</a></li>
                    <li class="catalog-top__sub-menu_list"><a class="catalog-top__sub-menu_link" href="">Слесарный инструмент</a></li>
                    <li class="catalog-top__sub-menu_list"><a class="catalog-top__sub-menu_link" href="">Степлеры мебельные и скобы к ним</a></li>
                    <li class="catalog-top__sub-menu_list"><a class="catalog-top__sub-menu_link" href="">Столярный инструмент</a></li>
                    <li class="catalog-top__sub-menu_list"><a class="catalog-top__sub-menu_link" href="">Сумки и пояса для инструмента</a></li>
                    <li class="catalog-top__sub-menu_list"><a class="catalog-top__sub-menu_link" href="">Шарнирно- губцевый инструмент</a></li>
                    <li class="catalog-top__sub-menu_list"><a class="catalog-top__sub-menu_link" href="">Шлифовальный инструмент. Напильники</a></li>
                    <li class="catalog-top__sub-menu_list"><a class="catalog-top__sub-menu_link" href="">Щетки проволочные, металлические</a></li>
                    <li class="catalog-top__sub-menu_list"><a class="catalog-top__sub-menu_link" href="">Электроинструмент</a></li>
                </ul>
            </nav>
        </div>
    </div>
</nav>