<div class="catalog-nav">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <div class="dropdown catalog-nav__select">
                <button class="btn btn-dropdown dropdown-toggle" type="button" id="catalog-nav_select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Каталог
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="catalog-nav__select">
                    <li><a href="#">АВТОАКСЕССУАРЫ</a></li>
                    <li><a href="#">ГАЛАНТЕРЕЯ</a></li>
                    <li><a href="#">ДАЧА И САД</a></li>
                    <li><a href="#">ИНСТРУМЕНТ</a></li>
                    <li><a href="#">НОВОГОДНИЕ ТОВАРЫ</a></li>
                    <li><a href="#">ПОСУДА И КУХОННЫЕ ПРИНАДЛЕЖНОСТИ</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-8">
            <div class="input-group catalog-nav__search">
                <input type="text" class="form-control" aria-label="...">
                <div class="input-group-btn">
                    <select class="selectpicker">
                        <option>Поиск по артикулу</option>
                        <option>Поиск по каталогу</option>
                    </select>
                </div><!-- /btn-group -->
                <span class="input-group-btn">
        <button class="btn btn-input" type="button">
            <svg class="catalog-nav__btn icons icon-search">
                <use xlink:href="/images/sprite.svg#search"></use>
            </svg>
        </button>
      </span>
            </div><!-- /input-group -->
        </div>
        <div class="col-md-3">
                <select class="selectpicker">
                    <option>Цена по возрастанию</option>
                    <option>Цена по убыванию</option>
                    <option>По популярности</option>
                </select>
            </div>
    </div>
</div>



