<div class="catalog-item ">
    <div class="row">
        <div class="col-sm-3">
            <div class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
                <div class="catalog-item__checkbox">
                    <input id="tovar" name="tovar" type="checkbox">
                    <label for="tovar"></label>
                </div>
            </div>
            <div class="catalog-item__images-box">
                <div class="catalog__icon catalog__icon-red">
                    <svg class="icons icon-hot popular__icon-hot">
                        <use xlink:href="/images/sprite.svg#hot"></use>
                    </svg>
                </div>
                <img class="catalog-item__images" src="../images/catalog/instrument.jpeg" alt="">
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-8">
                    <div class="catalog-item__description">
                        <h5 class="catalog-item__header">Набор профессионального инструмента, 88 предметов ЕРМАК КЛАССИК
                            1/4"+1/2" (072)</h5>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="catalog-item__count">
                        <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">-</button>
                        </span>
                            <input type="text" class="form-control" placeholder="1">
                            <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">+</button>
                        </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="catalog-item__select">
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__kod">
                                <div>Код: <strong>736151</strong></div>
                                <div>Артикул: 736-151 </div>
                                <div>Штрихкод: 6575676765</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__short-info_min">
                                мин. кол-во
                                <div class="catalog-item__short-info_value">
                                    4 шт.
                                </div>
                            </div>
                            <div class="catalog-item__short-info_in-box">
                                в коробке
                                <div class="catalog-item__short-info_value">
                                    16 шт.
                                </div>
                            </div>
                        </div>
                        <div class="catalog-item__price">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                    </div>
                    <div class="col-sm-4 catalog-item__mobile-row">
                        <div class="catalog-item__presence">
                            в наличии
                        </div>
                        <div class="catalog-item__price-mobile">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                        <div class="catalog-item__btn">
                            <button class="btn btn-default">
                                Купить
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="catalog-item ">
    <div class="row">
        <div class="col-sm-3">
            <form class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
                <div class="catalog-item__checkbox">
                    <input id="tovar" name="tovar" type="checkbox">
                    <label for="tovar"></label>
                </div>
            </form>
            <div class="catalog-item__images-box">
                <div class="popular__icon popular__icon-blue">
                    <span class="popular__new">new</span>
                </div>
                <img class="catalog-item__images" src="../images/catalog/nabor.jpeg" alt="">
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-8">
                    <div class="catalog-item__description">
                        <h5 class="catalog-item__header">Набор профессионального инструмента, 88 предметов ЕРМАК КЛАССИК
                            1/4"+1/2" (072)</h5>
                        <span class="catalog-item__article">
                            арт. 736-151
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="catalog-item__count">
                        <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">-</button>
                        </span>
                            <input type="text" class="form-control" placeholder="1">
                            <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">+</button>
                        </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="catalog-item__select">
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__short-info_in-box">
                                в коробке
                                <div class="catalog-item__short-info_value">
                                    16 шт.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__short-info_min">
                                мин. кол-во
                                <div class="catalog-item__short-info_value">
                                    4 шт.
                                </div>
                            </div>
                        </div>
                        <div class="catalog-item__price">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                    </div>
                    <div class="col-sm-4 catalog-item__mobile-row">
                        <div class="catalog-item__presence">
                            в наличии:
                            <div class="catalog-item__presence_value">36шт.</div>
                        </div>
                        <div class="catalog-item__price-mobile">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                        <div class="catalog-item__btn">
                            <button class="btn btn-default">
                                Купить
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="catalog-item ">
    <div class="row">
        <div class="col-sm-3">
            <form class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
                <div class="catalog-item__checkbox">
                    <input id="tovar" name="tovar" type="checkbox">
                    <label for="tovar"></label>
                </div>
            </form>
            <div class="catalog-item__images-box">
                <img class="catalog-item__images" src="../images/catalog/perfeots.jpeg" alt="">
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-8">
                    <div class="catalog-item__description">
                        <h5 class="catalog-item__header">Набор торцевых головок 10шт. ЕРМАК "Супер лок" (3/8" 8-10-11-12-13-14-15-16-17-19мм)</h5>
                        <span class="catalog-item__article">
                            арт. 736-151
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="catalog-item__count">
                        <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">-</button>
                        </span>
                            <input type="text" class="form-control" placeholder="1">
                            <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">+</button>
                        </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="catalog-item__select">
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__short-info_in-box">
                                в коробке
                                <div class="catalog-item__short-info_value">
                                    16 шт.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__short-info_min">
                                мин. кол-во
                                <div class="catalog-item__short-info_value">
                                    4 шт.
                                </div>
                            </div>
                        </div>
                        <div class="catalog-item__price">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                    </div>
                    <div class="col-sm-4 catalog-item__mobile-row">
                        <div class="catalog-item__presence">
                            в наличии:
                            <div class="catalog-item__presence_value">36шт.</div>
                        </div>
                        <div class="catalog-item__price-mobile">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                        <div class="catalog-item__btn">
                            <button class="btn btn-default">
                                Купить
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="catalog-item ">
    <div class="row">
        <div class="col-sm-3">
            <form class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
                <div class="catalog-item__checkbox">
                    <input id="tovar" name="tovar" type="checkbox">
                    <label for="tovar"></label>
                </div>
            </form>
            <div class="catalog-item__images-box">
                <div class="catalog__icon catalog__icon-red">
                    <svg class="icons icon-hot popular__icon-hot">
                        <use xlink:href="/images/sprite.svg#hot"></use>
                    </svg>
                </div>
                <img class="catalog-item__images" src="../images/catalog/instrument.jpeg" alt="">
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-8">
                    <div class="catalog-item__description">
                        <h5 class="catalog-item__header">Набор профессионального инструмента, 88 предметов ЕРМАК КЛАССИК
                            1/4"+1/2" (072)</h5>
                        <span class="catalog-item__article">
                            арт. 736-151
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="catalog-item__count">
                        <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">-</button>
                        </span>
                            <input type="text" class="form-control" placeholder="1">
                            <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">+</button>
                        </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="catalog-item__select">
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__short-info_in-box">
                                в коробке
                                <div class="catalog-item__short-info_value">
                                    16 шт.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__short-info_min">
                                мин. кол-во
                                <div class="catalog-item__short-info_value">
                                    4 шт.
                                </div>
                            </div>
                        </div>
                        <div class="catalog-item__price">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                    </div>
                    <div class="col-sm-4 catalog-item__mobile-row">
                        <div class="catalog-item__presence">
                            в наличии:
                            <div class="catalog-item__presence_value">36шт.</div>
                        </div>
                        <div class="catalog-item__price-mobile">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                        <div class="catalog-item__btn">
                            <button class="btn btn-default">
                                Купить
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="catalog-item ">
    <div class="row">
        <div class="col-sm-3">
            <form class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
                <div class="catalog-item__checkbox">
                    <input id="tovar" name="tovar" type="checkbox">
                    <label for="tovar"></label>
                </div>
            </form>
            <div class="catalog-item__images-box">
                <div class="popular__icon popular__icon-blue">
                    <span class="popular__new">new</span>
                </div>
                <img class="catalog-item__images" src="../images/catalog/nabor.jpeg" alt="">
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-8">
                    <div class="catalog-item__description">
                        <h5 class="catalog-item__header">Набор профессионального инструмента, 88 предметов ЕРМАК КЛАССИК
                            1/4"+1/2" (072)</h5>
                        <span class="catalog-item__article">
                            арт. 736-151
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="catalog-item__count">
                        <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">-</button>
                        </span>
                            <input type="text" class="form-control" placeholder="1">
                            <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">+</button>
                        </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="catalog-item__select">
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__short-info_in-box">
                                в коробке
                                <div class="catalog-item__short-info_value">
                                    16 шт.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__short-info_min">
                                мин. кол-во
                                <div class="catalog-item__short-info_value">
                                    4 шт.
                                </div>
                            </div>
                        </div>
                        <div class="catalog-item__price">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                    </div>
                    <div class="col-sm-4 catalog-item__mobile-row">
                        <div class="catalog-item__presence">
                            в наличии:
                            <div class="catalog-item__presence_value">36шт.</div>
                        </div>
                        <div class="catalog-item__price-mobile">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                        <div class="catalog-item__btn">
                            <button class="btn btn-default">
                                Купить
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="catalog-item ">
    <div class="row">
        <div class="col-sm-3">
            <form class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
                <div class="catalog-item__checkbox">
                    <input id="tovar" name="tovar" type="checkbox">
                    <label for="tovar"></label>
                </div>
            </form>
            <div class="catalog-item__images-box">
                <img class="catalog-item__images" src="../images/catalog/perfeots.jpeg" alt="">
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-8">
                    <div class="catalog-item__description">
                        <h5 class="catalog-item__header">Набор торцевых головок 10шт. ЕРМАК "Супер лок" (3/8" 8-10-11-12-13-14-15-16-17-19мм)</h5>
                        <span class="catalog-item__article">
                            арт. 736-151
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="catalog-item__count">
                        <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">-</button>
                        </span>
                            <input type="text" class="form-control" placeholder="1">
                            <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">+</button>
                        </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="catalog-item__select">
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__short-info_in-box">
                                в коробке
                                <div class="catalog-item__short-info_value">
                                    16 шт.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__short-info_min">
                                мин. кол-во
                                <div class="catalog-item__short-info_value">
                                    4 шт.
                                </div>
                            </div>
                        </div>
                        <div class="catalog-item__price">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                    </div>
                    <div class="col-sm-4 catalog-item__mobile-row">
                        <div class="catalog-item__presence">
                            в наличии:
                            <div class="catalog-item__presence_value">36шт.</div>
                        </div>
                        <div class="catalog-item__price-mobile">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                        <div class="catalog-item__btn">
                            <button class="btn btn-default">
                                Купить
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="catalog-item ">
    <div class="row">
        <div class="col-sm-3">
            <form class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
                <div class="catalog-item__checkbox">
                    <input id="tovar" name="tovar" type="checkbox">
                    <label for="tovar"></label>
                </div>
            </form>
            <div class="catalog-item__images-box">
                <div class="catalog__icon catalog__icon-red">
                    <svg class="icons icon-hot popular__icon-hot">
                        <use xlink:href="/images/sprite.svg#hot"></use>
                    </svg>
                </div>
                <img class="catalog-item__images" src="../images/catalog/instrument.jpeg" alt="">
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-8">
                    <div class="catalog-item__description">
                        <h5 class="catalog-item__header">Набор профессионального инструмента, 88 предметов ЕРМАК КЛАССИК
                            1/4"+1/2" (072)</h5>
                        <span class="catalog-item__article">
                            арт. 736-151
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="catalog-item__count">
                        <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">-</button>
                        </span>
                            <input type="text" class="form-control" placeholder="1">
                            <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">+</button>
                        </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="catalog-item__select">
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__short-info_in-box">
                                в коробке
                                <div class="catalog-item__short-info_value">
                                    16 шт.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__short-info_min">
                                мин. кол-во
                                <div class="catalog-item__short-info_value">
                                    4 шт.
                                </div>
                            </div>
                        </div>
                        <div class="catalog-item__price">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                    </div>
                    <div class="col-sm-4 catalog-item__mobile-row">
                        <div class="catalog-item__presence">
                            в наличии:
                            <div class="catalog-item__presence_value">36шт.</div>
                        </div>
                        <div class="catalog-item__price-mobile">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                        <div class="catalog-item__btn">
                            <button class="btn btn-default">
                                Купить
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="catalog-item ">
    <div class="row">
        <div class="col-sm-3">
            <form class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
                <div class="catalog-item__checkbox">
                    <input id="tovar" name="tovar" type="checkbox">
                    <label for="tovar"></label>
                </div>
            </form>
            <div class="catalog-item__images-box">
                <div class="popular__icon popular__icon-blue">
                    <span class="popular__new">new</span>
                </div>
                <img class="catalog-item__images" src="../images/catalog/nabor.jpeg" alt="">
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-8">
                    <div class="catalog-item__description">
                        <h5 class="catalog-item__header">Набор профессионального инструмента, 88 предметов ЕРМАК КЛАССИК
                            1/4"+1/2" (072)</h5>
                        <span class="catalog-item__article">
                            арт. 736-151
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="catalog-item__count">
                        <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">-</button>
                        </span>
                            <input type="text" class="form-control" placeholder="1">
                            <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">+</button>
                        </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="catalog-item__select">
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__short-info_in-box">
                                в коробке
                                <div class="catalog-item__short-info_value">
                                    16 шт.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__short-info_min">
                                мин. кол-во
                                <div class="catalog-item__short-info_value">
                                    4 шт.
                                </div>
                            </div>
                        </div>
                        <div class="catalog-item__price">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                    </div>
                    <div class="col-sm-4 catalog-item__mobile-row">
                        <div class="catalog-item__presence">
                            в наличии:
                            <div class="catalog-item__presence_value">36шт.</div>
                        </div>
                        <div class="catalog-item__price-mobile">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                        <div class="catalog-item__btn">
                            <button class="btn btn-default">
                                Купить
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="catalog-item ">
    <div class="row">
        <div class="col-sm-3">
            <form class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
                <div class="catalog-item__checkbox">
                    <input id="tovar" name="tovar" type="checkbox">
                    <label for="tovar"></label>
                </div>
            </form>
            <div class="catalog-item__images-box">
                <img class="catalog-item__images" src="../images/catalog/perfeots.jpeg" alt="">
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-8">
                    <div class="catalog-item__description">
                        <h5 class="catalog-item__header">Набор торцевых головок 10шт. ЕРМАК "Супер лок" (3/8" 8-10-11-12-13-14-15-16-17-19мм)</h5>
                        <span class="catalog-item__article">
                            арт. 736-151
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="catalog-item__count">
                        <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">-</button>
                        </span>
                            <input type="text" class="form-control" placeholder="1">
                            <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">+</button>
                        </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="catalog-item__select">
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__short-info_in-box">
                                в коробке
                                <div class="catalog-item__short-info_value">
                                    16 шт.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__short-info_min">
                                мин. кол-во
                                <div class="catalog-item__short-info_value">
                                    4 шт.
                                </div>
                            </div>
                        </div>
                        <div class="catalog-item__price">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                    </div>
                    <div class="col-sm-4 catalog-item__mobile-row">
                        <div class="catalog-item__presence">
                            в наличии:
                            <div class="catalog-item__presence_value">36шт.</div>
                        </div>
                        <div class="catalog-item__price-mobile">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                        <div class="catalog-item__btn">
                            <button class="btn btn-default">
                                Купить
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="catalog-item ">
    <div class="row">
        <div class="col-sm-3">
            <form class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
                <div class="catalog-item__checkbox">
                    <input id="tovar" name="tovar" type="checkbox">
                    <label for="tovar"></label>
                </div>
            </form>
            <div class="catalog-item__images-box">
                <div class="catalog__icon catalog__icon-red">
                    <svg class="icons icon-hot popular__icon-hot">
                        <use xlink:href="/images/sprite.svg#hot"></use>
                    </svg>
                </div>
                <img class="catalog-item__images" src="../images/catalog/instrument.jpeg" alt="">
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-8">
                    <div class="catalog-item__description">
                        <h5 class="catalog-item__header">Набор профессионального инструмента, 88 предметов ЕРМАК КЛАССИК
                            1/4"+1/2" (072)</h5>
                        <span class="catalog-item__article">
                            арт. 736-151
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="catalog-item__count">
                        <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">-</button>
                        </span>
                            <input type="text" class="form-control" placeholder="1">
                            <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">+</button>
                        </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="catalog-item__select">
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__short-info_in-box">
                                в коробке
                                <div class="catalog-item__short-info_value">
                                    16 шт.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__short-info_min">
                                мин. кол-во
                                <div class="catalog-item__short-info_value">
                                    4 шт.
                                </div>
                            </div>
                        </div>
                        <div class="catalog-item__price">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                    </div>
                    <div class="col-sm-4 catalog-item__mobile-row">
                        <div class="catalog-item__presence">
                            в наличии:
                            <div class="catalog-item__presence_value">36шт.</div>
                        </div>
                        <div class="catalog-item__price-mobile">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                        <div class="catalog-item__btn">
                            <button class="btn btn-default">
                                Купить
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="catalog-item ">
    <div class="row">
        <div class="col-sm-3">
            <form class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
                <div class="catalog-item__checkbox">
                    <input id="tovar" name="tovar" type="checkbox">
                    <label for="tovar"></label>
                </div>
            </form>
            <div class="catalog-item__images-box">
                <div class="popular__icon popular__icon-blue">
                    <span class="popular__new">new</span>
                </div>
                <img class="catalog-item__images" src="../images/catalog/nabor.jpeg" alt="">
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-8">
                    <div class="catalog-item__description">
                        <h5 class="catalog-item__header">Набор профессионального инструмента, 88 предметов ЕРМАК КЛАССИК
                            1/4"+1/2" (072)</h5>
                        <span class="catalog-item__article">
                            арт. 736-151
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="catalog-item__count">
                        <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">-</button>
                        </span>
                            <input type="text" class="form-control" placeholder="1">
                            <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">+</button>
                        </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="catalog-item__select">
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__short-info_in-box">
                                в коробке
                                <div class="catalog-item__short-info_value">
                                    16 шт.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__short-info_min">
                                мин. кол-во
                                <div class="catalog-item__short-info_value">
                                    4 шт.
                                </div>
                            </div>
                        </div>
                        <div class="catalog-item__price">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                    </div>
                    <div class="col-sm-4 catalog-item__mobile-row">
                        <div class="catalog-item__presence">
                            в наличии:
                            <div class="catalog-item__presence_value">36шт.</div>
                        </div>
                        <div class="catalog-item__price-mobile">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                        <div class="catalog-item__btn">
                            <button class="btn btn-default">
                                Купить
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="catalog-item ">
    <div class="row">
        <div class="col-sm-3">
            <form class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
                <div class="catalog-item__checkbox">
                    <input id="tovar" name="tovar" type="checkbox">
                    <label for="tovar"></label>
                </div>
            </form>
            <div class="catalog-item__images-box">
                <img class="catalog-item__images" src="../images/catalog/perfeots.jpeg" alt="">
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-8">
                    <div class="catalog-item__description">
                        <h5 class="catalog-item__header">Набор торцевых головок 10шт. ЕРМАК "Супер лок" (3/8" 8-10-11-12-13-14-15-16-17-19мм)</h5>
                        <span class="catalog-item__article">
                            арт. 736-151
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="catalog-item__count">
                        <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">-</button>
                        </span>
                            <input type="text" class="form-control" placeholder="1">
                            <span class="input-group-btn">
                            <button class="btn btn-input catalog-item__count_btn" type="button">+</button>
                        </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="catalog-item__select">
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__short-info_in-box">
                                в коробке
                                <div class="catalog-item__short-info_value">
                                    16 шт.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="catalog-item__short-info">
                            <div class="catalog-item__short-info_min">
                                мин. кол-во
                                <div class="catalog-item__short-info_value">
                                    4 шт.
                                </div>
                            </div>
                        </div>
                        <div class="catalog-item__price">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                    </div>
                    <div class="col-sm-4 catalog-item__mobile-row">
                        <div class="catalog-item__presence">
                            в наличии:
                            <div class="catalog-item__presence_value">36шт.</div>
                        </div>
                        <div class="catalog-item__price-mobile">
                            <div class="price catalog-item__price_old">3500р</div>
                            <div class="price catalog-item__price_new">2999р</div>
                        </div>
                        <div class="catalog-item__btn">
                            <button class="btn btn-default">
                                Купить
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
