<section class="footer">
    <div class="row footer__wrapper">
        <div class="col-md-3 col-sm-6 footer__about">
            <h4 class="footer__header">О нас</h4>
            <nav>
                <ul>
                    <li><a class="footer__link" href="">Новости</a></li>
                    <li><a class="footer__link" href="">Как купить</a></li>
                    <li><a class="footer__link" href="">Доставка</a></li>
                    <li><a class="footer__link" href="">Гарантия</a></li>
                    <li><a class="footer__link" href="">Контакты</a></li>
                    <li><a class="footer__link" href="">Карта сайта</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-3 col-sm-6 footer__cabinet" >
            <h4 class="footer__header">Личный кабинет</h4>
            <nav>
                <ul>
                    <li><a class="footer__link" href="">Персональный раздел</a></li>
                    <li><a class="footer__link" href="">Настройки пользователя</a></li>
                    <li><a class="footer__link" href="">Заказы</a></li>
                    <li><a class="footer__link" href="">Корзина</a></li>
                    <li><a class="footer__link" href="">Профиль покупателя</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-3 col-sm-6 footer__contact">

            <div class="footer__phone">
                <svg class="icons icon-phone">
                    <use xlink:href="/images/sprite.svg#phone"></use>
                </svg>
                <strong>(383) 363-73-14</strong>
            </div>
            <div class="footer__email">
                <svg class="icons icon-email">
                    <use xlink:href="/images/sprite.svg#email"></use>
                </svg>
                <a href="mailto:info@orbitansc.ru"><strong>info@orbitansk.ru</strong></a>
            </div>
            <div class="footer__adress">Адрес: г. Новосибирск, Автогенная,&nbsp;122<br />
                C 9<sup>00</sup> до 18<sup>00</sup>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 footer__logo">
            <a href="/">
                <svg class="top-navigation__logo logo">
                    <use xlink:href="/images/sprite.svg#logo"></use>
                </svg>
            </a>

            <div class="footer__delivery form-inline">
                <div>Попишитесь на рассылку</div>
                <input class="form-control footer__input-email" type="text" name="arrFilter_ff[NAME]"  value="" placeholder="Ваш email">
                <input type="submit" name="set_filter" value="Отправить" class="btn btn-input-default btn-sm footer__input-btn">
            </div>
        </div>
        <div class="col-md-9 col-sm-6 footer__info">
            <small >
                Информация, предоставленная на сайте, в том числе информация о цене товара, не является публичной офертой, определяемой положениями статьи 437 Гражданского Кодекса Российский Федерации. Для получения более подробной информации следует обращаться к менеджерам компании по указанным на сайте телефонам.
            </small>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="footer__counter">

            </div>
            <div class="footer__copyright">
                Copiright 2018
            </div>
        </div>
    </div>
</section>
<!--Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>