<div class="images-gallery">
    <img class="images-gallery_big" id="images-gallery_big" src="../images/catalog/instrument.jpeg" />

<div class="owl-carousel-thumb owl-carousel">
    <a class="images-gallery_thumb" href="../images/catalog/mastak85.png">
        <img src="../images/catalog/mastak85_.png" alt="">
    </a>
    <a class="images-gallery_thumb" href="../images/catalog/mastak85.png">
        <img src="../images/catalog/mastak85_.png" alt="">
    </a> <a class="images-gallery_thumb" href="../images/catalog/mastak85_.png">
    <img src="../images/catalog/mastak85_.png" alt="">
</a> <a class="images-gallery_thumb" href="../images/catalog/mastak85.png">
    <img src="../images/catalog/mastak85_.png" alt="">
</a> <a class="images-gallery_thumb" href="../images/catalog/mastak85.png">
    <img src="../images/catalog/mastak85__.png" alt="">
</a> <a class="images-gallery_thumb" href="../images/catalog/mastak85.png">
    <img src="../images/catalog/mastak85__.png" alt="">
</a>
</div></div>