<div class="row">
<div class="owl-carousel owl-carousel-home">
    <div class="home-banner m1">
        <div class="col-md-4 home-banner__fon"></div>
        <div class="col-md-8 home-banner__description">
            <h2 class="home-banner__head">Поздравляем с Днем Труда!</h2>
            <hr>
            <p>Поздравлем с праздником 1 Мая — днём всех трудящихся, светлым праздником весны и надежды!</p>
            <p>Весеннего неба и яркого солнца. Пусть всё получается, всё удается!
                Пусть будут все дни жизни, как праздник: ясны, безмятежны, светлы и прекрасны!</p>
        </div>
    </div>
    <div class="home-banner m9">
        <div class="col-md-5 home-banner__fon"></div>
        <div class="col-md-6 home-banner__description">
            <h2 class="home-banner__head">Поздравляем с Днем Победы!</h2>
            <hr>
            <p>Примите тёплые и сердечные поздравления с самым торжественным праздником – Днём Победы!
                Проходят десятилетия, сменяются поколения, но Великая Победа — символ национального единства, воинской славы и доблести.
                Мы никогда не забудем подвига наших дедов и отцов, отстоявших независимость нашей Родины, право людей на жизнь.
            </p>
            <p>
                Желаем крепкого здоровья, мира, добра и семейного благополучия.</p>
        </div>
    </div>

    <div class="home-banner frap">
        <div class="col-md-6 home-banner__description">
            <h2 class="home-banner__head-discount home-banner__head">Замороженная цена на смеситель FRAP</h2>
            <hr class="home-banner__dividing">
            <p>Цена «Замерзла» <br /> Фиксированная цена 799 р на смеситель д/р Frap® d35, на шпильке F1036,
                код 593-243</p>
            <hr class="home-banner__dividing" />
            <a href="http://www.orbitansk.ru/catalog/smesiteli_i_dushevye_stoyki_frap/smesitel_d_r_frap_d35_na_shpilke_f1036/" class="home-banner__btn btn btn-default btn-lg hidden-sm">Купить</a>
        </div>
        <div class="col-md-5  col-md-offset-1  home-banner__fon"></div>
        <br class="visible-sm">
        <a href="http://www.orbitansk.ru/catalog/smesiteli_i_dushevye_stoyki_frap/smesitel_d_r_frap_d35_na_shpilke_f1036/" class="home-banner__btn btn btn-default btn-lg visible-sm">Купить</a>
    </div>
    <!--<div class="home-banner home-banner__holiday ng">
        <div class="sugrob"></div>
        <div class="col-lg-6 col-md-7 col-sm-10 col-sm-offset-1 home-banner__description">
            <h2 class="home-banner__head">Дорогие друзья!</h2>
            <h3 class="home-banner__head">Поздравляем Вас С Наступающим<br> Новым Годом и Рождеством!</h3>
            <div class="home-banner__text">
                <p>Пусть не только в сказочную новогоднюю ночь, но и в каждый из дней 2019 года,  во всех текущих делах, новых проектах и частной жизни Вам сопутствует Удача!</p>
                <p>С Уважением, коллектив компании «ОРБИТА»</p>
            </div>
        </div>
    </div>-->
    <div class="home-banner d8"></div>
    <div class="home-banner tpv">
        <div class="home-banner__discount">
            <span class="home-banner__discount_value">-20%</span>
        </div>
        <div class="col-md-6 home-banner__description">
            <h2 class="home-banner__head-discount home-banner__head">Тепловентиляторы Auto Heater Fan</h2>
            <hr class="home-banner__dividing">
            <div class="home-banner__text">
                <p>Наш ответ сибирским морозам!</p>
                <p>При покупке от десяти штук, вы получаете дополнительную скидку 20%!</p>
                <hr class="home-banner__dividing" />
                <a href="http://www.orbitansk.ru/catalog/" class="home-banner__btn btn btn-default btn-lg hidden-sm">В каталог</a>
            </div>
        </div>
        <div class="col-md-5  col-md-offset-1 home-banner__fon">
            <video id="video" width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto" poster="/images/banner/banner-fon-tpv.gif">
                <source src="/images/banner/tpv.mp4" type="video/mp4">
                <source src="/images/banner/tpv.ogv"  type="video/ogg">
                <source src="/images/banner/tpv.webm"  type="video/webm">
            </video>
        </div>
            <br class="visible-sm">
            <a href="http://www.orbitansk.ru/catalog/" class="home-banner__btn btn btn-default btn-lg visible-sm">В каталог</a>
    </div>
    <div class="home-banner alca">
        <div class="col-md-6 home-banner__description">
            <h2 class="home-banner__head-discount home-banner__head">Зима не за горами!</h2>
            <hr class="home-banner__dividing">
            <p>В продаже зимние щетки стеклоочистителя ALCA.</p>
            <p>Так же в продаже зимние щетки-сметки для очистки автомобиля от снега и льда, огромный выбор, высокое качество, низкие цены!</p>
            <hr class="home-banner__dividing" />
            <a href="http://www.orbitansk.ru/catalog/" class="home-banner__btn btn btn-default btn-lg hidden-sm">В каталог</a>
        </div>
        <div class="col-md-5  col-md-offset-1  home-banner__fon">

        </div>
        <br class="visible-sm">
        <a href="http://www.orbitansk.ru/catalog/" class="home-banner__btn btn btn-default btn-lg visible-sm">В каталог</a>
    </div>
    <div class="home-banner opletki">
        <div class="home-banner__discount">
            <span class="home-banner__discount_value">-30%</span>
        </div>
        <div class="col-md-6 home-banner__description">
            <h2 class="home-banner__head-discount home-banner__head">Купи больше, плати меньше! Акция ноября!</h2>
            <hr class="home-banner__dividing">
            <div class="home-banner__text">
                <p>При покупке трех оплеток, вы получаете дополнительную скидку 15%</p>
                <p>При покупке пяти, вы получаете скидку 30%!</p>
                <hr class="small">
                <small>*Список оплеток участвующих в акции уточняйте у менеджеров</small>
            </div>
            <a href="http://www.orbitansk.ru/e-store/catalog/938/50320" class="home-banner__btn btn btn-default btn-lg">купить сейчас</a>
            <br>
        </div>
        <div class="col-md-5  col-md-offset-1 home-banner__fon">
        </div>
    </div>
    <div class="home-banner alca">
        <div class="col-md-6 home-banner__description">
            <h2 class="home-banner__head-discount home-banner__head">Зима не за горами!</h2>
            <hr class="home-banner__dividing">
            <p>В продаже зимние щетки стеклоочистителя ALCA.</p>
            <p>Так же в продаже зимние щетки-сметки для очистки автомобиля от снега и льда, огромный выбор, высокое качество, низкие цены!</p>
            <hr class="home-banner__dividing" />
            <a href="http://www.orbitansk.ru/catalog/" class="home-banner__btn btn btn-default btn-lg hidden-sm">В каталог</a>
        </div>
        <div class="col-md-5  col-md-offset-1  home-banner__fon">

        </div>
        <br class="visible-sm">
        <a href="http://www.orbitansk.ru/catalog/" class="home-banner__btn btn btn-default btn-lg visible-sm">В каталог</a>
    </div>
    <div class="home-banner rvk">
        <div class="col-md-6 home-banner__description">
            <h2 class="home-banner__head-discount home-banner__head">Трубы полипропиленовые РВК</h2>
            <hr class="home-banner__dividing">
            <p>Трубы и фитинги РВК применяют в системах холодного и горячего водоснабжения, в системах отопления, водоподготовки, пневмопроходах, канализации и технологических трубопроводах.
            </p>
            <hr class="home-banner__dividing" />
            <a href="http://www.orbitansk.ru/catalog/" class="home-banner__btn btn btn-default btn-lg hidden-sm">В каталог</a>
        </div>
        <div class="col-md-5  col-md-offset-1  home-banner__fon">

        </div>
        <br class="visible-sm">
        <a href="http://www.orbitansk.ru/catalog/" class="home-banner__btn btn btn-default btn-lg visible-sm">В каталог</a>
    </div>
    <div class="home-banner sl">
        <div class="col-md-6 home-banner__description">
            <h2 class="home-banner__head-discount home-banner__head">Салфетки из микрофибры</h2>
            <hr class="home-banner__dividing">
                <p>Ведущая технология!</p>
                <ul class="list">
                    <li>Универсальны</li>
                    <li>Прочны и долговечны</li>
                    <li>Незаменимы для уборки пыли, грязи, любых жидкостей и масел.</li>
                </ul>
            <hr class="home-banner__dividing" />
            <a href="http://www.orbitansk.ru/catalog/avtoprinadlezhnosti/salfetki_iz_mikrofibry_nabor_30_30sm_10_sht_5_tsvetov_universalnye/" class="home-banner__btn btn btn-default btn-lg hidden-sm">купить сейчас</a>
        </div>
        <div class="col-md-5  col-md-offset-1  home-banner__fon">

        </div>
        <br class="visible-sm">
        <a href="http://www.orbitansk.ru/catalog/avtoprinadlezhnosti/salfetki_iz_mikrofibry_nabor_30_30sm_10_sht_5_tsvetov_universalnye/" class="home-banner__btn btn btn-default btn-lg visible-sm">купить сейчас</a>
    </div>
    <div class="home-banner opletki">
        <div class="home-banner__discount">
            <span class="home-banner__discount_value">-30%</span>
        </div>
        <div class="col-md-6 home-banner__description">
            <h2 class="home-banner__head-discount home-banner__head">Купи больше, плати меньше</h2>
            <hr class="home-banner__dividing">
            <div class="home-banner__text">
                <p><strong>Акция ноября!</strong></p>
                <p>При покупке трех оплеток, вы получаете дополнительную скидку 15%</p>
                <p>При покупке пяти, вы получаете скидку 30%!</p>
                <hr class="small">
                <small>*Список оплеток участвующих в акции уточняйте у менеджеров</small>
            </div>
            <div class="home-banner__price">
                <div class="price home-banner__price_old">551р</div>
                <div class="price home-banner__price_new">493.53р*</div>
            </div>
            <a href="http://www.orbitansk.ru/e-store/catalog/938/50320" class="home-banner__btn btn btn-default btn-lg">купить сейчас</a>
            <br>
        </div>
        <div class="col-md-5  col-md-offset-1 home-banner__fon">
        </div>
    </div>
    <!--div class="home-banner p23">
        <div class="col-md-6 home-banner__description">
            <h2 class="home-banner__head-nodiscount home-banner__head">С днем защитника отечества!</h2>
            <hr class="home-banner__dividing">
            <div class="home-banner__text">
                Поздравляем Вас с праздником мужества, чести и отваги! <br>
                Пусть все задуманное исполнится, пусть радость и удача сопутствуют Вам в любом начинании! <br>
            </div>

        </div>
        <div class="col-md-5  col-md-offset-1 home-banner__fon">
            <img class="home-banner__img" src="/images/home-banner/2318.jpg" alt="">
        </div>
    </div>
    <div class="home-banner may">
    </div>
    <div class="home-banner new">
        <div class="col-md-6 home-banner__description">

            <h2 class="home-banner__head-nodiscount home-banner__head">Рады вам представить новый сайт "Орбита"</h2>
            <hr class="home-banner__dividing">
            <div class="home-banner__text">
                <p>Новый сайт одинаково удобен на всех устройствах. Теперь вы можете совершать покупки за экраном компьютера, так и с помощью вашего смартфона.</p>
                <p>В случае каких-то проблем или вопросов пишите онлайн консультанту и он с радостью вам поможет. Так же вы можете писать свои замечания
                    и пожелания по адресу <a href="suppot@orbitansk.ru:mailto">suppot@orbitansk.ru</a>. </p>
                <p> В течении месяца будет работать <a href="http://old.orbitansk.ru">старая версия сайта</a>.</p>
            </div>

        </div>
        <div class="col-md-5  col-md-offset-1 home-banner__fon">
            <img class="home-banner__img" src="/images/home-banner/new_site_image.png" alt="">
            <img class="new_site" src="/images/home-banner/new_site.png" alt="">
        </div>
    </div>
    <div class="home-banner fun">
        <div class="home-banner__discount">
            <span class="home-banner__discount_value">-10%</span>
        </div>
        <div class="col-md-6 home-banner__description">
            <h2 class="home-banner__head-discount home-banner__head">Автомобильные тепловентиляторы Auto Heater Fun</h2>
            <hr class="home-banner__dividing">
            <div class="home-banner__text">
                <p><strong>Auto Heater Fun - дешевле, чем аналоги у конкурентов!</strong></p>
                <p>Тепловентилятор автомобильный "Auto Heater Fan" 12В/150Вт арт. 771-040</p>
                <hr class="small">
                <small>*Первая оптовая цена. В зависимости от объема заказа возможны большие скидки.</small>
            </div>
            <div class="home-banner__price">
                <div class="price home-banner__price_old">551р</div>
                <div class="price home-banner__price_new">493.53р*</div>
            </div>
            <a href="http://www.orbitansk.ru/e-store/catalog/938/50320" class="home-banner__btn btn btn-default btn-lg">купить сейчас</a>
            <br>
        </div>
        <div class="col-md-5  col-md-offset-1 home-banner__fon">
            <img class="home-banner__img" src="/images/home-banner/fun.png" alt="">
        </div>
    <div-->
</div>
</div>