<h2 class="blue">НОВИНКИ</h2>
<div class="row popular">
    <div class="owl-carousel owl-carousel-popular">
            <a class="popular__item">
                <div class="popular__icon popular__icon-blue">
                    <span class="popular__new">new</span>
                </div>
                <img class="popular__image" src="/images/catalog/nabor.jpeg">
                <div class="popular__header">
                    Набор для вечеринки 15 пр, (декоративные усы, губы, шляпки), пластик, бумага
                </div>

                <button class="btn btn-default">Купить | <span class="price">13050.50р</span></button>
            </a>
        <a class="popular__item">
            <div class="popular__icon popular__icon-blue">
                <span class="popular__new">new</span>
            </div>
            <img class="popular__image" src="/images/catalog/nabor.jpeg">
            <div class="popular__header">
                Набор для вечеринки 15 пр, (декоративные усы, губы, шляпки), пластик, бумага
            </div>

            <button class="btn btn-default">Купить | <span class="price">13050.50р</span></button>
        </a>
        <a class="popular__item">
            <div class="popular__icon popular__icon-blue">
                <span class="popular__new">new</span>
            </div>
            <img class="popular__image" src="/images/catalog/nabor.jpeg">
            <div class="popular__header">
                Набор для вечеринки 15 пр, (декоративные усы, губы, шляпки), пластик, бумага
            </div>

            <button class="btn btn-default">Купить | <span class="price">13050.50р</span></button>
        </a>
        <a class="popular__item">
            <div class="popular__icon popular__icon-blue">
                <span class="popular__new">new</span>
            </div>
            <img class="popular__image" src="/images/catalog/nabor.jpeg">
            <div class="popular__header">
                Набор для вечеринки 15 пр, (декоративные усы, губы, шляпки), пластик, бумага
            </div>

            <button class="btn btn-default">Купить | <span class="price">13050.50р</span></button>
        </a>
    </div>

</div>