<div class="news col-md-12 col-sm-6">
<h3 class="blue">Новости</h3>
<div class="news__item">
    <h5 class="news__header"><small class="news__data">07.03</small> Поздравляем милых дам с праздником 8 марта!</h5>
    <p>Милые, прекрасные женщины, поздравляем вас с 8 Марта!
        Пусть в вашей жизни будет вечная весна, пусть ярко светит солнце <a href="">далее...</a></p>
</div>
<div class="news__item">
    <h5 class="news__header"><small class="news__data">07.03</small> Поздравляем милых дам с праздником 8 марта!</h5>
    <p>Милые, прекрасные женщины, поздравляем вас с 8 Марта!
        Пусть в вашей жизни будет вечная весна, пусть ярко светит солнце <a href="">далее...</a></p>
</div>
<div class="news__item">
    <h5 class="news__header"><small class="news__data">07.03</small> Поздравляем милых дам с праздником 8 марта!</h5>
    <p>Милые, прекрасные женщины, поздравляем вас с 8 Марта!
        Пусть в вашей жизни будет вечная весна, пусть ярко светит солнце <a href="">далее...</a></p>
</div>
<div class="news__item">
    <h5 class="news__header"><small class="news__data">07.03</small> Поздравляем милых дам с праздником 8 марта!</h5>
    <p>Милые, прекрасные женщины, поздравляем вас с 8 Марта!
        Пусть в вашей жизни будет вечная весна, пусть ярко светит солнце <a href="">далее...</a></p>
</div>
    </div>