<div class="col-md-12 col-sm-6">
    <h3 class="j">Партнеры</h3>
    <div class="partners">
        <a class="partners__item goodyear" href="partners/goodyear.php">
            <svg>
                <use xlink:href="images/svg-images.svg#goodyear"></use>
            </svg>
        </a>
        <a class="partners__item autovirazh" href="partners/aftoviraz.php">
            <svg>
                <use xlink:href="images/svg-images.svg#autovirazh"></use>
            </svg>
        </a>
        <a class="partners__item" href="partners/heyner.php">
            <svg>
                <use xlink:href="images/svg-images.svg#heyner"></use>
            </svg>
        </a>
        <a class="partners__item ermak" href="http://www.orbitansk.ru/partners/ermak.php">
            <svg>
                <use xlink:href="images/svg-images.svg#ermak"></use>
            </svg>
        </a>
        <a class="partners__item astrohim" href="http://www.orbitansk.ru/partners/astrohim.php">
            <svg>
                <use xlink:href="images/svg-images.svg#astrohim"></use>
            </svg>
        </a>
        <a class="partners__item" href="http://www.orbitansk.ru/partners/frap.php">
            <svg>
                <use xlink:href="images/svg-images.svg#frap"></use>
            </svg>
        </a>
        <a class="partners__item" href="#">
            <svg>
                <use xlink:href="images/svg-images.svg#gappo"></use>
            </svg>
        </a>

        <a class="partners__item" href="#">
            <svg>
                <use xlink:href="images/svg-images.svg#faop"></use>
            </svg>
        </a>
        <a class="partners__item" href="http://www.orbitansk.ru/partners/mayak.php">
            <svg>
                <use xlink:href="images/svg-images.svg#mayak"></use>
            </svg>
        </a>
        <a class="partners__item" href="http://www.orbitansk.ru/partners/alca.php">
            <svg>
                <use xlink:href="images/svg-images.svg#alca"></use>
            </svg>
        </a>
        <a class="partners__item rvk" href="partners/rvk.php">
            <svg>
                <use xlink:href="images/svg-images.svg#RVK"></use>
            </svg>
        </a>
        <a class="partners__item" href="partners/areon.php">
            <svg>
                <use xlink:href="images/svg-images.svg#areon"></use>
            </svg>
        </a>
        <a class="partners__item" href="http://www.orbitansk.ru/partners/taipit.php">
            <svg>
                <use xlink:href="images/svg-images.svg#taipit"></use>
            </svg>
        </a>
        <a class="partners__item autoprofi" href="partners/avtoprofi.php">
            <svg>
                <use xlink:href="images/svg-images.svg#autoprofi"></use>
            </svg>
        </a>
        <a class="partners__item souz" href="/partners/souz.php">
            <svg>
                <use xlink:href="images/svg-images.svg#souz"></use>
            </svg>
        </a>

    </div></div>