<div class="row">
    <div class="col-md-5 col-sm-6">
        <div class="product-images">
            //= images-gallery.html
        </div>
    </div>
    <div class="col-md-7 col-sm-6">
        <div class="product-in-box">
            в коробке
            <div class="product-in-box__value">
                16 шт.
            </div>
        </div>
        <div class="product-min">
            мин. кол-во
            <div class="product-min__value">
                4 шт.
            </div>
        </div>
        <div class="product-presence">
            <svg class="icons icon-presence">
                <use xlink:href="/images/sprite.svg#presence"></use>
            </svg>
            в наличии
        </div>

        <div class="product-buy">
            <div class="col-sm-6">
                <div class="catalog-item__count">
                    <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-input catalog-item__count_btn" type="button">-</button>
                            </span>
                        <input type="text" class="form-control" placeholder="1">
                        <span class="input-group-btn">
                                <button class="btn btn-input catalog-item__count_btn" type="button">+</button>
                            </span>
                    </div>
                </div>
                <div class="product-buy__presence">
                    в наличии:
                    <div class="product-buy__presence_value">36шт.</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="product-buy__price">
                    <div class="product-buy__price_text" >Цена:</div>
                    <div class="product-buy__price_old">5656р</div>
                    <div class="product-buy__price_new">2999р</div>
                </div>
                <div class="product-buy__btn">
                    <button class="btn btn-default btn-sm">
                         Купить
                    </button>
                </div>
            </div>
        </div>
        <div class="product-buy__description">
            Описание: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu varius dolor. Integer tempus dolor eleifend ipsum sodales, a pellentesque ante viverra. Etiam a nisl nec erat tristique ornare. Sed vel faucibus nisl. Morbi tortor tortor, accumsan vel nunc id, facilisis cursus turpis. Vivamus vel dolor urna.
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="product-info">Цены на сайте указаны розничные, для оптовых закупок авторизуйтесь на сайте и отправьте запрос на <a
                href="mailto:info@orbitansk.ru">info@orbitansk.ru</a> с пометкой "”становите категорию цен дл¤ моей компании"</p>
    </div>
    <div class="col-md-12">
        <a class="product__back" href="">&laquo; Назад к разделам</a>
    </div>
</div>